<p id="notice"><%= notice %></p>

<h1>His</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @his.each do |hi| %>
      <tr>
        <td><%= hi.name %></td>
        <td><%= hi.count %></td>
        <td><%= hi.desc %></td>
        <td><%= link_to 'Show', hi %></td>
        <td><%= link_to 'Edit', edit_hi_path(hi) %></td>
        <td><%= link_to 'Destroy', hi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hi', new_hi_path %>
