<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hi.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @hi.count %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @hi.desc %>
</p>

<%= link_to 'Edit', edit_hi_path(@hi) %> |
<%= link_to 'Back', his_path %>
